/Session1/Brick-breaker/.idea/*

/Session1/Brick-breaker/venv/*
/Session2/Brick-breaker/.idea/*

/Session2/Brick-breaker/venv/*
/Session3/Brick-breaker/.idea/*

/Session3/Brick-breaker/venv/*
/Session4/Brick-breaker/.idea/*

/Session4/Brick-breaker/venv/*
/Session5/Brick-breaker/.idea/*

/Session5/Brick-breaker/venv/*
/Session6/Brick-breaker/.idea/*

/Session6/Brick-breaker/venv/*
